body {
    background-color: #777;
    content: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: grey;
    
}



.header {
    width: 960px;
    height: 100px;
    padding: 50px;
    border: 2px;
    box-sizing: border-box;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 10px 50px 10px 50px;
    line-height: 105px;
    
    

}

.nav {
    width: 960px;
    height: 100px;
    padding: 50px;
    border: 1px;
    box-sizing: border-box;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 40px;
    margin: 10px 50px 10px 50px;
    

}

.section {
    width: 480px;
    height: 300px;
    padding: 10px;
    border: 1px;
    box-sizing: border-box;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 25px;
    margin: 10px 50px 10px 50px;
    float: left;
    position: absolute;

 

}

.aside {
    width: 455px;
    height: 300px;
    padding: 25px;
    border: 5px;
    box-sizing: border-box;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 25px;
    margin: 10px 20px 10px 5px;
    float: left;
    position: relative;
    
    
    
    
}

.article{
    background-color: #777;
    width: 425px;
    height: 200px;
    padding: 150px;
    border: 1px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
    margin: 75px 50px 10px 75px;
    float: left;
    position: relative;
    color: white;
    
    
    
}



.box {
    width: 380px;
    height: 20px;
    padding: 35px;
    border: 1px;
    box-sizing: border-box;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 1px;
    margin: 135px 10px 10px -935px;
    float: left;
    position: relative;
    padding-top: 20px;

}

.p {
    width: 380px;
    height: 50px;
    padding: 50px;
    border: 1px;
    box-sizing: border-box;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 1px;
    margin: 205px 10px 10px -935px;
    float: left;
    position: relative;

    
}

.clear {
    overflow: auto;

}

.footer {
    width: 960px;
    height: 100px;
    padding: 50px;
    border: 1px;
    box-sizing: border-box;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 5px;
    margin: 340px 50px 10px 50px;
    clear: auto;
    text-align: center;
    padding-top: 40px;

    
}

